.icon-language {
  max-width: 18px !important;
  max-height: 12px !important;
}

.choose-language {
  color: #000000 !important;
  display: inline;
  font-size: 13px;
  background-color: white !important;
}

.chosen-language {
  color: #FFFFFF !important;
  display: inline;
  font-size: 13px;
}
