.item-member-project {
  margin-left: 8px;
  width: 75%;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-null{
  margin-top: 0 !important;
}
.form-project-new {
  margin-top: 100px;
}
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.font-size-40 {
  font-size: 40px;
}

.padding-top-10 {
  padding-top: 10px;
}

.info-project {
  font-size: 16px;
  font-family: serif;
}

.clear {
  clear: both;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

div.slideouticons {
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  z-index: 1000;
}

div.slideouticons input {
  display: none;
}

div.slideouticons label.mainlabel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: #80C5EC;
  border-radius: 50%;
  outline: none;
  z-index: 100000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.slideouticons div.iconswrapper {
  position: absolute;
  margin: 0;
  top: 60px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

div.slideouticons div.iconswrapper ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}

div.slideouticons div.iconswrapper ul li {
  margin-bottom: 10px;
  position: relative;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-100%) rotate(0);
  transform: translateY(-100%) rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.slideouticons div.iconswrapper ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: #80C5EC;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.slideouticons div.iconswrapper ul li a:hover {
  background: #515151;
  color: white;
}

div.slideouticons input:checked~ label.mainlabel {
  background: navy;
}

div.slideouticons input:checked~ div.iconswrapper {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

div.slideouticons input:checked~ div.iconswrapper ul li {
  opacity: 1;
  -webkit-transform: translateY(0) rotate(360deg);
  transform: translateY(0) rotate(360deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.slideouticons input:checked~ div.iconswrapper ul li:nth-of-type(1) {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  z-index: 4;
}

div.slideouticons input:checked~ div.iconswrapper ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: 3;
}

div.slideouticons input:checked~ div.iconswrapper ul li:nth-of-type(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
  z-index: 2;
}

div.slideouticons input:checked~ div.iconswrapper ul li:nth-of-type(4) {
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
  z-index: 1;
}

div.slideouticons.horizontal div.iconswrapper {
  top: 0;
  left: 60px;
}

div.slideouticons.horizontal div.iconswrapper ul li {
  display: inline;
  float: left;
  margin-bottom: 0;
  margin-right: 10px;
  -webkit-transform: translateX(-100%) rotate(0);
  transform: translateX(-100%) rotate(0);
}

div.slideouticons.horizontal input:checked~ div.iconswrapper ul li {
  -webkit-transform: translateX(0) rotate(360deg);
  transform: translateX(0) rotate(360deg);
}

.img-member-of-project {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

#project-description {
  width: 300px;
}

.gold {
  color: #f4b942;
}
