.container-fluid-full {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.row-fluid {
  width: 100%;
}

.row-fluid .span2 {
  width: 14.5299%;
}

.logo-admin {
  margin-top: 8px;
  height: 35px;
  margin-left: 10px;
}

.margin-navbar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-top: -20px !important;
}

.left-side-bar {
  background: #1a1a1a;
  z-index: 1000;
  height: 100%;
}

.style-container-admin {
  margin-left: 0px !important;
  height: 100%;
}

.sidebar-nav {
  position: 15.5%;
}
